@model IEnumerable<Common.Models.Ad>

@{
    ViewBag.Title = "List of ads";
}

<h3>List Of Ads</h3>

<div class="col-md-2">
    <h3>Categories</h3>
    @Html.Action("Categories","Category") 
</div>


@*@Html.ActionLink("Create New", "AddAd")*@

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "EditAd", new { id = item.Id })*@

                @Html.ActionLink("Details", "Details", new { id = item.Id })

                @*@Html.ActionLink("Delete", "DeleteAd", new { id = item.Id })*@
            </td>
        </tr>
    }
</table>