@model List<AW.Common.Models.Ad>

@if (Model.Count == 0)
{
    <br />
    <h1 style="text-align: center">No ads in this category.</h1>
    <br />
    if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <div style="text-align: center">
            @Html.ActionLink("Create ad in current category", "CreateAd", new { id = ViewBag.Category })
        </div>
    }
}

else

{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.ActionLink("   ", "Details", "Ad", new { id = item.Id }, new { @class = "glyphicon glyphicon-info-sign" })
                        <span>  </span>
                        @if (HttpContext.Current.User.Identity.Name == item.UserName|| HttpContext.Current.User.IsInRole("Admin")|| HttpContext.Current.User.IsInRole("Editor"))
                        {
                            @Html.ActionLink("   ", "EditeAd", new {id = item.Id}, new {@class = " glyphicon glyphicon-cog" })
                            <span>  </span>
                            @Html.ActionLink("   ", "Delete", new {id = item.Id}, new {@class = "glyphicon glyphicon-remove-sign" })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    if (ViewBag.Category != 0 && HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <div style="text-align: center">
            @Html.ActionLink("Create ad in current category", "CreateAd", new { id = ViewBag.Category })
        </div>
    }
}
