@model List<AW.Common.Models.Ad>

@if (Model.Count == 0)
{
    <div style="display: block; margin: 15%" align="center">
        <div class="h1 alert alert-info" role="alert" style="text-align: center">
            No ads in this category
        </div>
    </div>
    <br />
    <div class="col-md-12" align="center">
        @Html.ActionLink("Create ad in current category", "CreateAd", null, new { id = ViewBag.Category }, new { @class = "btn btn-default" })
    </div>
}
else
{
    foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail" style="height: 345px">
                <a href="/Ad/Details/@item.Id">
                    <img class="img-rounded" src="@Url.Content(item.Picture)" alt="~/Images/No-image-found.png" style="max-height: 190px">
                </a>
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                    <p>$@Html.DisplayFor(modelItem => item.Price)</p>
                    <div style="position: absolute; top: 5pt; right: 17pt">
                        @Html.ActionLink("   ", "Details", "Ad", new { id = item.Id }, new { @class = "glyphicon glyphicon-info-sign" })
                        <span> </span>
                        @if (HttpContext.Current.User.Identity.Name == item.UserName || HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Editor"))
                        {
                            @Html.ActionLink("   ", "EditeAd", new { id = item.Id }, new { @class = " glyphicon glyphicon-cog" })
                            <span> </span>
                            @Html.ActionLink("   ", "Delete", new { id = item.Id }, new { @class = "glyphicon glyphicon-remove-sign" })
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    if (ViewBag.Category != 0)
    {
        <div class="col-md-12" align="center">
            @Html.ActionLink("Create ad in current category", "CreateAd", null, new { id = ViewBag.Category }, new { @class = "btn btn-default" })
        </div>
    }
}
