@model AW.Common.Models.AdDetails

<h2>@Model.Title</h2>

<h4>@Model.Description</h4>
<br />

<img class="img-rounded" src="@Url.Content(Model.Picture)" alt="~/Images/No-image-found.png" , height="200">
<br />

<dl class="dl-horizontal">

    <dt>Price</dt>
    <dd>@Html.DisplayFor(model => model.Price)</dd>

    <dt>Condition</dt>
    <dd>@Html.DisplayFor(model => model.ConditionName)</dd>

    <dt>Creation Date</dt>
    <dd>@Html.DisplayFor(model => model.CreationDate)</dd>

    <dt>Category</dt>
    <dd>@Html.DisplayFor(model => model.CategoryName)</dd>

    <dt>Location</dt>
    <dd>@Html.DisplayFor(model => model.LocationName)</dd>
</dl>

@*@Html.ActionLink("Ok", "Index", null, new { @class = "btn btn-default col-md-1" })*@

<a class="btn btn-default col-md-1" href="javascript:history.back();">Ok</a>
