@model AW.Common.Models.AdDetails

<h2>@Model.Title</h2>
<br />

<img class="img-rounded" src="@Model.Picture" alt="No image available", height="400">

<br />

<dl class="dl-horizontal">

    <dt>Description</dt>
    <dd textarea rows="4">@Html.DisplayFor(model => model.Description)</dd>

    <dt>Price</dt>
    <dd>@Html.DisplayFor(model => model.Price)</dd>

    <dt>Condition</dt>
    <dd>@Html.DisplayFor(model => model.ConditionName)</dd>

    <dt>Creation Date</dt>
    <dd>@Html.DisplayFor(model => model.CreationDate)</dd>

    <dt>Category</dt>
    <dd>@Html.DisplayFor(model => model.CategoryName)</dd>

    <dt>Location</dt>
    <dd>@Html.DisplayFor(model => model.LocationName)</dd>
</dl>

@Html.ActionLink("Back", "Index", "Ad")