@model List<AW.Common.Models.Ad>

@if (ViewBag.Result)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "EditAd", new { id = item.Id })*@

                        @Html.ActionLink(" ", "Details", "Ad", new { id = item.Id }, new { @class = "glyphicon glyphicon-info-sign" })

                        @*@Html.ActionLink("Delete", "DeleteAd", new { id = item.Id })*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div style="display: block; margin: 10%" align="center">
        <div class="h1 alert alert-info" role="alert">
            @ViewBag.Message
        </div>
    </div>
}

