@model AW.Common.Models.User
@using (Ajax.BeginForm("Delete", new AjaxOptions { UpdateTargetId = "result", LoadingElementId = "loader" }))
{
    @Html.AntiForgeryToken()
    <br />
    <div class="h3 alert alert-danger" role="alert" style="text-align: center">
        Are you really want delete @Model.Role.RoleName @Model.UserName?
    </div>
    <br />
    <div class="text-center">
        <div class="btn-group" role="group">
            @Ajax.ActionLink("Delete", "DeleteConfirmed", new { id = Model.UserName }, new AjaxOptions { UpdateTargetId = "result", LoadingElementId = "loader" }, new { type = "button", @class = "btn btn-default" })
            @Ajax.ActionLink("Cancel", "UsersList", null, new AjaxOptions { UpdateTargetId = "result", LoadingElementId = "loader" }, new { type = "button", @class = "btn btn-default" })
        </div>
    </div>
}
