@model AW.Web.Models.PasswordViewModel

@using (Ajax.BeginForm("SetPassword", new AjaxOptions { UpdateTargetId = "result", LoadingElementId = "loader" }))
{
    @Html.AntiForgeryToken()
    <br />
    @Html.HiddenFor(model => model.UserName)
    <div class="col-md-12">
        @Html.Label("New password", new { @class = "control-label", style = "margin - top: 8px" })
        @Html.PasswordFor(model => model.Password, new { @class = "form-control", id = "PasswordInput" })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-12">
        @Html.Label("Confirm password", new { @class = "control-label", style = "margin-top: 8px" })
        @Html.PasswordFor(model => model.RePassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })
    </div>

    <input type="submit" value="Update" class="btn btn-default col-md-1 col-md-offset-1" style="margin-top: 16px" />
    <br />
    <br />
    <br />
    <br />
    <div class="col-md-12">
        <h3 style="margin-top: 40px">@ViewBag.Message</h3>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#PasswordInput").focus();
    });
</script>