@model AW.Web.Models.PasswordViewModel

@using (Ajax.BeginForm("SetPassword", new AjaxOptions { UpdateTargetId = "result", LoadingElementId = "loader" }))
{
    @Html.AntiForgeryToken()
    <br />
    @Html.HiddenFor(model => model.UserName)
    <div align="center">
        @Html.Label("New password", new { @class = "control-label", style = "margin - top: 8px" })
        @Html.PasswordFor(model => model.Password, new { @class = "form-control", id = "PasswordInput" })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>

    <div align="center">
        @Html.Label("Confirm password", new { @class = "control-label", style = "margin-top: 8px" })
        @Html.PasswordFor(model => model.RePassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })
    </div>
    <div align="center">
        <input type="submit" value="Update" class="btn btn-default" style="margin-top: 16px" />
    </div>
    <br />
    <div class="h3" style="margin-top: 40px; text-align: center">
        @ViewBag.Message
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#PasswordInput").focus();
    });
</script>